Flask==0.10.1
Flask-Bcrypt==0.6.0
Flask-Login==0.2.11
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-Testing==0.4.2
Flask-WTF==0.10.2
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==2.0.1
Werkzeug==0.9.6
alembic==0.6.6
coverage==4.0a1
gunicorn==19.0.0
itsdangerous==0.24
psycopg2==2.5.3
py-bcrypt==0.4
wsgiref==0.1.2
